body {
    font-family: 'Microsoft YaHei UI', Verdana;
    font-size: 12px;
}

.header-PL-text {
    font-size: 16px;
    font-weight: bold;
}

    .header-PL-text span {
        padding-left: 10px;
    }


.w-50p {
    width: 50px;
}

.text-normal {
    color: #006fa8;
}

.container-fluid.main-wrap {
    overflow-y: auto;
    overflow-x: hidden;
}

.table {
    margin-bottom: 5px;
}

    .table th, .table td {
        padding: 0.2rem;
        vertical-align: middle;
        border: none;
        font-size: 12px;
        border-right: solid 1px gray;
    }

    .table thead th {
        text-align: center;
        border: none;
        border-bottom: solid 1px gray;
    }

    .table th, .table td {
        border: none;
    }

.table-striped tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-sm.data-button, .btn-group-sm.data-button > .btn {
    padding: 0px 2px;
    line-height: initial;
}

.record-btn, .advise-btn, .drag-row-btn {
    cursor: pointer;
}

.modal-header, .modal-footer {
    padding: 5px 15px;
}

/*Stock Infotmation Modal*/
#stockInfoModal {
}

    #stockInfoModal .stock_info_cell_advise_buy {
        font-weight: bold;
        color: red;
    }

    #stockInfoModal .stock_info_cell_advise_profit {
        font-weight: bold;
        color: black;
    }

    #stockInfoModal .stock_info_cell_advise_loss {
        font-weight: bold;
        color: green;
    }

    #stockInfoModal .stock_info_cell_alert {
        cursor: pointer;
    }

    #stockInfoModal #txt_Stock_Info_Current_Price, #stockInfoModal #txt_Stock_Info_Price_Arrow {
        font-size: 25px;
        text-align: center;
    }

    #stockInfoModal .rise-fall-item {
        font-weight: bold;
        width: 50px;
    }

    #stockInfoModal .unit-text-span {
        font-weight: bold;
        padding-left: 2px;
        color: black;
    }

    #stockInfoModal .detail-info-table .cell-col-1 {
        font-weight: bold;
        width: 40px;
    }

    #stockInfoModal .detail-info-table .cell-col-2 {
        color: blue;
        width: 50px;
    }

    #stockInfoModal .detail-info-table .cell-col-3 {
        font-weight: bold;
        width: 60px;
    }

    #stockInfoModal .detail-info-table .cell-col-4 {
        color: blue;
        width: 90px;
    }

    #stockInfoModal .detail-info-table .cell-col-5 {
        font-weight: bold;
        width: 40px;
    }

    #stockInfoModal .detail-info-table .cell-col-6 {
        color: blue;
        width: 60px;
    }

    #stockInfoModal .detail-info-table .empty-col {
        width: 30px;
    }

    #stockInfoModal .five-position-table .inner-disc {
        color: green;
    }

    #stockInfoModal .five-position-table .outer-disc {
        color: red;
    }

/*Alert For Remove Stock Deal Record*/
.alert-remove-record-item-mask, .alert-remove-advise-item-mask {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: none;
    background-color: rgba(0,0,0,0.4);
}

#alert_Remove_Record_Item, #alert_Remove_Advise_Item {
    position: absolute;
    margin: 10px;
    top: 0px;
    width: calc(100% - 20px);
}

    #alert_Remove_Record_Item table, #alert_Remove_Advise_Item table {
        background-color: rgba(255,255,255,0.7);
        border: none;
        border-radius: 5px;
    }

        #alert_Remove_Record_Item table th, #alert_Remove_Advise_Item table th {
            font-size: 14px;
        }

    #alert_Remove_Record_Item button, #alert_Remove_Advise_Item button {
        margin: 5px;
    }

/*Stock Records Modal & Advise Modal*/
.stock-info-row {
}

    .stock-info-row .stock-name {
        color: #26539b;
        font-size: 14px;
        font-weight: bold;
    }

    .stock-info-row .stock-code {
    }

    .stock-info-row .current-price {
        font-weight: bold;
    }

#recordModal .modal-header, #adviseModal .modal-header {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

#recordModal .modal-body, #adviseModal .modal-body {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

#recordModal .record-item-list-table td svg, #adviseModal .advise-item-list-table td svg {
    cursor: pointer;
    font-size: 16px;
}

#recordModal button.btn-sm, #adviseModal button.btn-sm {
    padding: 0px;
    border: none;
}

#recordModal .btn-record-item-edit-cancel, #adviseModal .btn-advise-item-edit-cancel {
    display: none;
}

#recordModal .btn-record-item-edit-ok, #adviseModal .btn-advise-item-edit-ok {
    display: none;
}

#recordModal #btn_Record_Add_Item, #adviseModal #btn_Advise_Add_Item {
    font-size: 12px;
    padding: 5px;
}

#recordModal .record-item-edit-field, #adviseModal .advise-item-edit-field {
    display: none;
    height: 25px;
    padding: 0px 5px;
}

#recordModal input.record-item-edit-field:not([type=date]), #adviseModal input.advise-item-edit-field:not([type=date]) {
    text-align: right;
}

#adviseModal .advise-item-edit-field {
    font-size: 12px;
}

#adviseModal div.form-check.form-check-inline {
    display: none;
    width: 100px;
    margin-right: 0px;
}

    #adviseModal div.form-check.form-check-inline .advise-item-edit-field {
        display: inline;
        max-width: 40px;
        -webkit-appearance: none;
        padding: 0px;
    }

    #adviseModal div.form-check.form-check-inline input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    #adviseModal div.form-check.form-check-inline input[type="number"] {
        -moz-appearance: textfield;
    }

#adviseModal input.advise-item-edit-field[type=date] {
    width: 120px;
}

#adviseModal textarea {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: initial;
}

.current-drag-target-row {
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 0 3px 3px #53b0ba;
    -moz-box-shadow: 0 0 3px 3px #53b0ba;
    box-shadow: 0 0 3px 3px #53b0ba;
}

#footer_Data_View {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 14px;
}

    #footer_Data_View span {
        font-size: 14px;
        font-weight: bold;
        padding: 0px 5px;
    }

.TSG-wrap-container {
    position: relative;
    width: 1140px;
    height: 600px;
}

.TSG-canvas-wrap {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.1);
}

#TSG_Wrap_Table {
    margin: 0px;
}

    #TSG_Wrap_Table td {
        padding: 0px;
    }

    #TSG_Wrap_Table .canvas-time-sharing {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    #TSG_Wrap_Table .coord-label-TSG {
        position: absolute;
        font-size: 13px;
        line-height: 20px;
    }

        #TSG_Wrap_Table .coord-label-TSG.price-label {
            right: 2px;
        }

        #TSG_Wrap_Table .coord-label-TSG.rate-label {
            left: 2px;
        }

    #TSG_Wrap_Table .TSG-coord-label-wrap {
        position: relative;
        top: 0px;
        left: 0px;
    }

#TSG_Coord_Table {
    margin: 0px;
}

    #TSG_Coord_Table .coord-cell {
        padding: 0px;
        border: none;
        border-top: 1px solid rgba(221,221,221,1);
        border-right: 1px solid rgba(221,221,221,1);
    }


    #TSG_Coord_Table .coord-last-row .coord-cell {
        border-bottom: 2px solid rgba(221,221,221,1);
        border-right: 1px solid rgba(221,221,221,1);
    }

        #TSG_Coord_Table .coord-last-row .coord-cell.coord-end-cell {
            border-right: none;
        }

    #TSG_Coord_Table .coord-end-cell {
        border-right: none;
    }

    #TSG_Coord_Table .coord-first-row .coord-cell {
        border-top: 2px solid rgba(221,221,221,1);
    }

    #TSG_Coord_Table .coord-first-row .coord-cell {
        border-top: 2px solid rgba(221,221,221,1);
    }

    #TSG_Coord_Table .coord-middle-row .coord-cell {
       border-top-style:dashed;
    }
