body {
    font-family: 'Microsoft YaHei UI', Verdana;
    font-size: 12px;
}

.w-50p {
    width: 50px;
}

.container-fluid.main-wrap {
    overflow-y: auto;
    overflow-x: hidden;
}

.table {
    margin-bottom: 5px;
}

    .table th, .table td {
        padding: 0.2rem;
        vertical-align: middle;
        border: none;
        font-size: 12px;
        border-right: solid 1px gray;
    }

    .table thead th {
        text-align: center;
        border: none;
        border-bottom: solid 1px gray;
    }

.table-striped tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-sm.data-button, .btn-group-sm.data-button > .btn {
    padding: 0px 2px;
    line-height: initial;
}

.record-btn, .advise-btn, .drag-row-btn {
    cursor: pointer;
}

.modal-header, .modal-footer {
    padding: 5px 15px;
}

#stockInfoModal .table th, .table td {
    border: none;
}

.stock_info_cell_advise_buy {
    font-weight: bold;
    color: red;
}

.stock_info_cell_advise_profit {
    font-weight: bold;
    color: black;
}

.stock_info_cell_advise_loss {
    font-weight: bold;
    color: green;
}

.stock_info_cell_alert {
    cursor: pointer;
}

/*Stock Infotmation Modal*/
#stockInfoModal .rise-fall-item {
    font-weight: bold;
    width: 50px;
}

#txt_Stock_Info_Current_Price, #txt_Stock_Info_Price_Arrow {
    font-size: 25px;
    text-align: center;
}

#stockInfoModal .unit-text-span {
    font-weight: bold;
    padding-left: 2px;
    color: black;
}

#stockInfoModal .detail-info-table .cell-col-1 {
    font-weight: bold;
    width: 40px;
}

#stockInfoModal .detail-info-table .cell-col-2 {
    color: blue;
    width: 50px;
}

#stockInfoModal .detail-info-table .cell-col-3 {
    font-weight: bold;
    width: 60px;
}

#stockInfoModal .detail-info-table .cell-col-4 {
    color: blue;
    width: 80px;
}

#stockInfoModal .detail-info-table .cell-col-5 {
    font-weight: bold;
    width: 40px;
}

#stockInfoModal .detail-info-table .cell-col-6 {
    color: blue;
    width: 60px;
}

#stockInfoModal .detail-info-table .empty-col {
    width:30px;
}
